
<h2>Websocket</h2>
<br>

<form id="form">
    <label>Product:</label><input type="text" name="name" id="name">
    <br>
    <label>Price:</label><input type="number" name="price" id="price">
    <br>
    <input type="submit" value="SEND">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>



